body {
    background-image: url("../images/thumb-1920-52849.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  

}

.row {
    border: 3px solid white;

    margin-top: 3%;
}

img {
    height: 200px;
    width: 200px;
   
    
    
}

section {
    width: 100%;

    margin: 0 auto;

}

.card {
    background: rgba(250,250,250,0.1)

}



.weapon {
    height: 71px;
    width: 75px;
    

}

.card-title {
    text-align: center;
    color: aliceblue;
    font-size: 30px;
    background: rgba(0, 0, 0, 0.7);
}



.neo, .trinity, .morpheus, .agent {
    background: #447717;
    border: 1px;
    border-radius: 5px;
    position: relative;
    height: 78px;
    margin-top: 2px;
    color: white;
    font-weight: bold;
 
    font-family: 'Vollkorn', serif;
font-family: 'Audiowide', cursive;

    font-size: 24px;;
    padding: 10px;
    
}



.chosenChar, .chosenEnemy {
    border: 2px solid black;
    width: 120px;
    padding: 5px;
    height: 40px;
 
    font-family: 'Vollkorn', serif;
font-family: 'Audiowide', cursive;

    background: #6CA03B;
    color: white;
    position: relative;
}

#hide {
    visibility: hidden;
}

#charSelect {
    background-image: url("../images/green-matrix-background_r1gl8-f__F0000\ \(1\).png");
}

#charEnemy {
    background-image: url("../images/red-matrix-background_r1ehslf__F0000.png");
}
.attack {
background-color:#447717;
width: 90px;
border-radius: 5px;
color: aliceblue;

font-family: 'Vollkorn', serif;
font-family: 'Audiowide', cursive;
margin-left: -65%;

}
.reset {
    margin-left: 0.5%;
    background-color:#447717;
width: 90px;
border-radius: 5px;
color: aliceblue;

font-family: 'Vollkorn', serif;
font-family: 'Audiowide', cursive;
}

meter {
    height: 36px;
    position: relative;
    float:left;
    top: -18px;
    margin-left: 3px;
    width: 65%;
}

.place1, .place2 {
    height: 300px;
    width: 250px;
}



button {
    margin-left: 36px;
}

span {
    font-size: 17px;
}

#myAudio {
    display: none;
}

#centred {
    margin-left: 17%;
}